VITE_COGNITO_DOMAIN=https://cloudpress-dev-auth.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_COGNITO_REDIRECT_URI=http://localhost:5173
VITE_UPLOAD_API_URL=https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com
